<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onSidenavClose()" *ngIf="!isAuthenticated()">
      <mat-icon>face</mat-icon> <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onSidenavClose()" *ngIf="!isAuthenticated()">
      <mat-icon>local_offer</mat-icon> <span class="nav-caption">Login</span>   
  </a>
  <a mat-list-item routerLink="/training" (click)="onSidenavClose()" *ngIf="isAuthenticated()">
      <mat-icon>directions_run</mat-icon><span class="nav-caption">Training</span>
  </a>
  <app-multimenu *ngIf="isAuthenticated()"></app-multimenu>
  <mat-list-item (click)="onLogout()" *ngIf="isAuthenticated()">
      <button mat-icon-button>
          <mat-icon>eject</mat-icon> <span class="nav-caption">Logout</span>
      </button>
  </mat-list-item>
</mat-nav-list>
