<section>
  <form [formGroup]="loginForm" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="submitForm(loginForm.value)">
    <mat-form-field>
      <input matInput type="email" placeholder="Your email" formControlName="email" id="email" email>
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Must be valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Your password" formControlName="password">
      <mat-hint align="end">At least 6 characters long.</mat-hint>
      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      <mat-error *ngIf="hasError('password', 'minlength')">Must be 6 or more characters</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
  </form>
</section>
